{{define "title"}} CNB User Home {{end}} {{define "id"}} "cnb000"{{end}} {{define "homemenu"}}
<div class="menu fn-clear">
  <ul id="myNavLeft">
    <li id="play" title="start application"><span class="glyphicon glyphicon-play"></span>Start Application</li>
    <li style="padding-right:0px" title="Login with google" id="menuUser"><span id="login" class="glyphicon glyphicon-log-in"></li>
    <li style="padding-right:0px"><image id="picture" style="height:18px;width:18px;margin:7px 4px"></image>
    <div class="frame">
      <ul>
      <li id="logout" title="Logout"><span class="glyphicon glyphicon-log-out" title="logout"></span> Log Out</li>
  </ul>
</div>
</li>
</ul>
<ul id="myNavRight" style="float:right">
  <li id="logo">
    <image src="/static/image/icon.png" style="height:18px;width:18px;margin:7px 4px"></image><span id="appinfo" style="color:#777"></span>
  </li>
</ul>
</div>
{{end}} {{define "html"}}
<html>

<head>
  <title>{{template "title"}}</title>
  {{template "lib"}}
  <script type="text/javascript" src="/web/lib/sand.min.js"></script>

  {{template "css"}}
  <link rel="stylesheet" href="/web/style/sand.base.css">

  <style>
    .panel {
      width: 300px;
      height: 530px;
      float: left;
      margin: 10px;
    }

    #layoutContainer {
      overflow-y: scroll;
    }

    .menu {
      background-color: #F0F0F0;
    }

    .selected {
      background-color: #CFCFCF;
    }
    h4 {
      font-size: 16px;
      color: #336289;
    }
    .nav li {
        background-color: #F0F0F0;
        margin: 0 3px 0 0;
        padding: 2px 2px 0 0;
        color: #000;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .nav .active {
        background-color: #336289;
        color: lightyellow;
    }
    .nav li:hover {
        background-color: #DDD;
        color: #333;
    }
    .nav {
        cursor:default;

    }
    .panel {
        cursor:default;
    }



  </style>
</head>

<body>
  {{template "homemenu"}}
  <div id="wrapper" style="height:calc(100%-20px)">
    <div id="menuContainer" style="display:none"></div>
    <div id="layoutContainer" style="left:0%;width:100%">
      <div class="panel">
        <div class="panel-head">
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="sheetIdInput">Google SheetID to Host Sessions</label>
              <input type="text" class="form-control" id="sheetIdInput" placeholder="">
            </div>
            <button id="edit" class="btn btn-success">Edit</button>
            <button id="load" class="btn btn-primary">Load</button>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
</body>
<script>
  (function($, d3, S) {
    var niceFormat = d3.format(",")
    var regionNiceText = function(d){
        return d.chr + ":" + niceFormat(d.start) + "-" + niceFormat(d.end)
    } 
    var regionsNiceText = function(d){
        var r = []
        d.forEach(function(d){
            r.push(regionNiceText(d))
        })
        return r.join(";")
    }

    var stateId = "cnb000"
    var links = []
    var sandInits = {
      credentials: "same-origin"
    }
    var container = d3.select("#layoutContainer")
    var ctrldiv = container.append("div").classed("ctrl", true)
    var currentdiv = container.append("div").style("background-color", "#cee8d9")
    var panelsdiv = container.append("div")
    //ctrldiv.append("span").text("SheetID:").style("padding-right","10px")
    var sheetIdInput = d3.select("#sheetIdInput")
    var currentId = ""
    var fLoad = function() {
      d3.json("/getsheetid", sandInits).then(function(d) {
        sheetIdInput.node().value = d.sheetid
        currentId = d.sheetid
        renderSessions()
      })
    }
    fLoad()
    d3.select("#load")
      .on("click", function() {
        fLoad()
      })
    d3.select("#submit")
      .on("click", function() {
        var id = sheetIdInput.node().value
        if (id != null && id != "" && id.length == 44 && id != currentId) {
          $.ajaxSetup({
            xhrFields: {
              withCredentials: true
            },
          });
          $.post("/setsheetid?id=" + id).done(function() {
            renderSessions();
          })
        } else if (id == currentId) {
          renderSessions();
        }
      })
    d3.select("#edit")
      .on("click", function() {
        window.open("https://docs.google.com/spreadsheets/d/" + currentId + "/edit")
      })
    var pchart=S.layoutPanel();//TODO

    var renderSessions = function() {
      d3.json("/sheetlist", sandInits).then(function(d) { //TODO sheets
        var panels = panelsdiv
          .selectAll(".panel")
          .data(d)
        panels.exit().remove()
        panels.enter()
          .append("div")
          .merge(panels)
          .classed("panel", true)
          .classed("panel-default", true)
          .call(pchart)
      })
    }


    $.get("/profile", function(d) {
      d = JSON.parse(d);
      if (d.email) {
        $("#logout").show();
        $("#login").hide();
        $("#picture").show()
        var name = d.name
        if (name == "") {
          name = d.email
        }
        $("#picture").attr("src", d.picture).attr("title", name)
      } else {
        $("#logout").hide();
        $("#login").show();
        $("#picture").hide();
      }
    })

    d3.select("#logo")
      .attr("title", "Click to open introduction")
      .on("click", function() {
        window.open("/static/")
      })
    d3.select("#appinfo").text("{{.Appname}} v{{.Version}}")

    $(".menu > ul > li").mouseover(function(event) {
      $(this).addClass("selected");
    })
    $(".menu > ul > li").mouseout(function() {
      $(this).removeClass("selected");
    })

    /* local session */
    var sessionId = "_cnb_"
    var d = localStorage.getItem(sessionId)
    if (d) {
      var d = ["Current", "Current Session", d, "/v1/main.html?config=continue"]
      //var svg = currentdiv.append("svg").attr("height","300px").attr("width","300px")
      //svg.datum(JSON.parse(p[-1])).call(iconRender)
      var _panels = currentdiv
        .selectAll(".panel")
        .data([d])
      _panels.exit().remove()
      _panels.enter()
        .append("div")
        .merge(_panels)
        .classed("panel", true)
        .classed("panel-default", true)
        .call(pchart)
    }

    $("#play").click(function() {
      window.location = "/v1/main.html"
    })
  }(jQuery, d3, sand))
</script>

</html>
{{end}}
