{{define "title"}} NBrowser Home {{end}} {{define "id"}} "cnb000"{{end}} {{define "html"}}
<html>

<head>
  <title>{{template "title"}}</title>
  {{template "lib"}}
  <script type="text/javascript" src="/web/lib/sand.min.js"></script>
  {{template "css"}}
  <link rel="stylesheet" href="/web/style/sand.base.css">
  <style>
    .panel {
      width: 300px;
      min-height: 200px;
      float: left;
      margin: 10px;
    }
  </style>
</head>

<body>
  {{template "wrapper"}}
</body>
<!--
<script type="text/javascript" src="/lib/dat.gui.min.js"></script>
<link rel="stylesheet" href="/css/dat-gui-light-theme.css">
-->
<script>
  (function($, d3, S) {
    var stateId = "cnb000"
    var links = []
    var sheetId = S.toolsGetUrlPara("sheetid") || "1sl7ZkGWKX3Sx2yNLPpYNwVhBklVMXucVs4Ht9ukKVhw" //TODO Get SheetTitle and SheetId for publication.
    var title = S.toolsGetUrlPara("title") || "Sheet1"
    var apiKey = "AIzaSyBhECk4C1LpxI1mDJjSTwot-hRP2v3bwEA"
    d3.json("https://sheets.googleapis.com/v4/spreadsheets/" + sheetId + "/values/"+ title +"!A:C?key=" + apiKey).then(function(d) { //TODO sheets
      var panels = d3.select("#layoutContainer")
        .selectAll(".panel")
        .data(d.values)
        .enter()
        .append("div")
        .classed("panel", true)
        .classed("panel-default", true)
      var head = panels.append("div")
        .classed("panel-heading", true)

      head.append("h2")
        .classed("panel-title", true)
        .text(function(d) {
          return d[0]
        })
        .on("click", function(d, i) {
          window.location = "/v1/main.html?config=gsheet:" + sheetId + ":" + d[0].replace(" ", "%20")
        })
        .on("mouseover",function(){
          d3.select(this).style("background-color","#8899AA")
        })
        .on("mouseout",function(){
          d3.select(this).style("background-color","#F5F5F5")
        })

      var bodys = panels.append("div")
        .classed("panel-body", true)
      bodys.append("div").append("h4").text("Description")
      bodys.append("div").style("overflow-wrap","break-word")
      //.style("background-color","#fffbea")
      .style("padding","5px").text(function(d) {
        return d[1]
      })

      var _render = function(el) {
        el.each(function(d) {
          var svg = d3.select(this).append("svg").attr("width",250).attr("height", 150)
          //console.log(d)
          var iconRender = S.layoutIcon().xscale(2.50).yscale(1.68)
          var dmain = JSON.parse(JSON.parse(d[2])[-1])
          svg.datum(dmain).call(iconRender)
        })
      }
      bodys.append("div").append("h4").text("Layout")
      var svgdiv = bodys.append("div").style("padding-bottom","10px")
      var btnGrp = bodys.append("div").append("span").style("float","right").style("padding-right","25px")
      btnGrp.append("button")
          .classed("btn", true)
          .classed("btn-success", true)
          .classed("btn-sm", true)
          .on("click",function(d){
            window.open("/v1/main.html?config=gsheet:" + sheetId + ":" + d[0].replace(" ", "%20"))
          })
          .text("open")

      svgdiv.call(_render)




    })
  }(jQuery, d3, sand))
</script>

</html>
{{end}}
