{{define "title"}} CMU Nucleome Browser Entrypoints {{end}} 
{{define "pubmenu"}}
<div class="menu fn-clear">
<ul id="myNav" style="float:left">
  <li id="logo">
    <image src="/static/image/icon.png" style="height:18px;width:18px;margin:7px 4px"></image><span id="appinfo" style="color:#777"></span>
  </li>
</ul>
</div>
{{end}}
{{define "html"}}


<html>

<head>
  <title>{{template "title"}}</title>
  {{template "lib"}}
  <script type="text/javascript" src="/static/lib/sand.min.js"></script>
  {{template "css"}}
  <link rel="stylesheet" href="/static/css/sand.base.css">
  <style>
    body {
        font-family: Sans-Serif;
        color: #303030;
        height: 100%;
        overflow-y: auto;
    }
    .panel {
      width: 300px;
      height: 570px;
      float: left;
      margin: 10px;
    }
    #layoutContainer {
      overflow-y:scroll;
    }
    .menu {
      background-color: #F0F0F0;
    }

    .selected {
      background-color: #CFCFCF;
    }
    h4 {
      font-size: 16px;
      color: #336289;
    }
    .nav li {
        background-color: #F0F0F0;
        margin: 0 3px 0 0;
        padding: 2px 2px 0 0;
        color: #000;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .nav .active {
        background-color: #336289;
        color: lightyellow;
    }
    .nav li:hover {
        background-color: #DDD;
        color: #333;
    }
    .nav {
        cursor:default;

    }
    .panel {
        cursor:default;
    }

  </style>
</head>

<body>
  {{template "pubmenu"}}
  {{template "wrapper"}}
</body>
<!--
<script type="text/javascript" src="/lib/dat.gui.min.js"></script>
<link rel="stylesheet" href="/css/dat-gui-light-theme.css">
-->
<script>
  (function($, d3, S) {
      
    var stateId = "cnb000"
    var links = []
    var sheetId = S.toolsGetUrlPara("sheetid") || "1fGLVMKMSDMl_lvKB8b4V-1ec5TCs4yMdHsZCtEA6WUw" //TODO Get SheetTitle and SheetId for publication.
    var panelRender = S.layoutPanel().sheetId(sheetId) 
    var title = S.toolsGetUrlPara("title") || "Sheet1"
    var apiKey = "AIzaSyBhECk4C1LpxI1mDJjSTwot-hRP2v3bwEA"
    d3.json("https://sheets.googleapis.com/v4/spreadsheets/" + sheetId + "/values/"+ title +"!A:C?key=" + apiKey).then(function(d) { //TODO sheets
      var panels = d3.select("#layoutContainer")
        .selectAll(".panel")
        .data(d.values)
        .enter()
        .append("div")
        .classed("panel", true)
        .classed("panel-default", true)
        .call(panelRender)
    })
  })(jQuery, d3, sand)
</script>

</html>
{{end}}
