{{define "css"}}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-toggle.min.css">
<link rel="stylesheet" href="/css/goldenlayout-base.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<link rel="stylesheet" href="/css/dat-gui-light-theme.css">
<link rel="stylesheet" href="/css/awesomplete.min.css">
<style>
  .dg .c input[type=text] {

    line-height: normal;
  }

  .dg .c div {
    box-sizing: content-box;
  }
</style>

{{end}}
