{{define "lib"}}
<script>
  if (typeof module === 'object') {
    window.module = module;
    module = undefined;
  }
</script>
<script type="text/javascript" src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="/lib/jquery.tablednd.js"></script>

<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/lib/goldenlayout.min.js"></script>

<script type="text/javascript" src="/lib/d3.v4.min.js"></script>
<script type="text/javascript" src="/lib/d3-queue.v2.min.js"></script>
<script type="text/javascript" src="/lib/d3-request.v1.min.js"></script>
<script type="text/javascript" src="/lib/dat.gui.min.js"></script>
<script type="text/javascript" src="/lib/awesomplete.min.js"></script>
<script>
  if (window.module) module = window.module;
</script>

{{end}}
