{{define "menu"}}
<div class="menu fn-clear">
  <ul id="myNavLeft">
    <li id="home"  title="home" class="mainWinOnly"><span class="glyphicon glyphicon-home"></span>Home</li>
    <span class="split"></span>
      <li title="Add panel or window"id="addPanel">
      <span class="glyphicon glyphicon-plus"></span>Panel
      <div class="frame">
        <ul id="renders">
        </ul>
        <ul>
          <li id="openExt" title="Add extend window"><span class="glyphicon glyphicon-plus-sign" title="add window"></span> Extend Window</li>
        </ul>
      </div>
      <!--
      <div class="note">
        Welcome! Click me to begin!
      </div>
    -->
    </li>
     <li id="space" title="Panel space: a workspace to save/load panel">
      <span class='glyphicon glyphicon-cog'></span>Space
    </li>
    <li style="display:none"  title="hide panel header"><span id="fixedToggle" class="glyphicon glyphicon-pushpin"></li>
  </ul>

  <ul id="myNavLeft2">
        <li id="sessions"  title="Manage Sessions" class="mainWinOnly">
        <span class="glyphicon glyphicon-hdd" id="sessionUi"></span>Session
        <div class="frame" id="sessionFrame">
          <ul>
            <li id="share" title="Share session by generated URL"><span class="glyphicon glyphicon-share-alt" title="share session"></span> Share Session </li>
            <li id="createSheetId" title="Create a google sheet id to host sessions"><span class="glyphicon glyphicon-file"></span> Create a New Session Sheet</li>
            <li id="setSheetId" title="Set a google sheet id to host sessions"><span class="glyphicon glyphicon-cog"></span> Set Session Sheet Id</li>
          </ul>
          <ul id="sheetUi" style="display:none">
            <li id="loadFromSheet" title="Load session from google sheet"><span class="glyphicon glyphicon-open"></span> Load Session</li>
            <li id="saveToSheet" title="Save session to google sheet"><span class="glyphicon glyphicon-save"></span> Save Session</li>
          </ul>
          <ul id="fileUi">
            <li id="import" title="Load session"><span class="glyphicon glyphicon-import"></span> Load Session</li>
            <li id="export" title="Save session"><span class="glyphicon glyphicon-export"></span> Save Session</li>
          </u1>
        </div>
      </li>
    <li style="padding-right:0px" title="Login with google" id="menuUser" class="mainWinOnly"><span id="login" class="glyphicon glyphicon-log-in" ></li>
    <li style="padding-right:0px" class="mainWinOnly"><image id="picture" style="height:18px;width:18px;margin:7px 4px"></image>
    <div class="frame">
      <ul>
      <li id="logout" title="Logout"><span class="glyphicon glyphicon-log-out" title="logout"></span> Log Out</li>
      </ul>
    </div>
</li>
</ul>
<ul id="extWinNav">
</ul>
<ul id="myNavRight" style="float:right">
  <li id="extension" style="display: none">
    <a href="https://chrome.google.com/webstore/detail/nbrowser-plugin/djcdicpaejhpgncicoglfckiappkoeof" target="_blank"><img src="/static/image/extension_install.png"  style="height:18px;width:18px;margin:7px 4px" title="install chrome extension"></img></a>
  </li>
  <li id="logo">
      <image src="/static/image/icon.png" style="height:18px;width:18px;margin:7px 4px"></image><span id="appinfo" style="color:#777"></span>
  </li>
</ul>
</div>
{{end}}
