{{define "menu"}}
<div class="menu fn-clear">
  <ul id="myNavLeft">
    <li id="home"  title="Home" class="mainWinOnly" data-toggle="tooltip" data-placement="right"><span class="glyphicon glyphicon-home"></span></li>
    <span class="split"></span>
      <li title="Add Panel"id="addPanel" data-toggle="tooltip" data-placement="right" >
      <span class="glyphicon glyphicon-plus"></span>
      <div class="frame">
        <ul id="renders">
        </ul>
        <ul>
          <li id="openExt" title="Extended Window" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-plus-sign"></span> Extended Window</li>
        </ul>
      </div>
      <!--
      <div class="note">
        Welcome! Click me to begin!
      </div>
    -->
    </li>
     <li id="space" title="Panel Space" data-toggle="tooltip" data-placement="right">
      <span class='glyphicon glyphicon-th-large'></span>
    </li>
    
    <li style="display:none"  title="hide panel header"><span id="fixedToggle" class="glyphicon glyphicon-pushpin"></li>
  </ul>

  <ul id="myNavLeft2">
        <span class="split"></span>
        <li id="sessions"  title="Session in Local" data-toggle="tooltip" data-placement="right" class="mainWinOnly">
        <span class="glyphicon glyphicon-hdd" id="sessionUi"></span>
        <div class="frame" id="sessionFrame">
          <ul>
            <li id="share" title="Share session by generated URL" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-share-alt" title="share session"></span> Share Session </li>
          </ul>
          <ul id="fileUi">
            <li id="import" title="Load session" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-open"></span> Load Session</li>
            <li id="export" title="Save session" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-save"></span> Save Session</li>
            <li id="manage" title="Manage session" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-wrench"></span> Manage Session</li>
          </u1>
        </div>
      </li>
    <div id="devMode" style="display:none"> 
    <li style="padding-right:0px"  title="Login with Google" data-toggle="tooltip" data-placement="right" id="menuUser" class="mainWinOnly">
        <span id="login" class="glyphicon glyphicon-log-in" >
    </li>
    <div id="menuUser1">
    <li style="padding-right:0px" class="mainWinOnly" data-toggle="tooltip" data-placement="right" title="Session in Google Sheet">
    <image id="picture" class="mainWinOnly" style="height:18px;width:18px;margin:7px 4px"></image>
    </li>
    <!--
    <div class="frame">
    -->
      <li id="setSheetId" title="Set a google sheet id to host sessions" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-cog"></span> Set Session Sheet Id</li>
      <li id="createSheetId" title="Create a google sheet id to host sessions" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-file"></span> Create a New Session Sheet</li>
      <ul id="sheetUi" style="display:none">
      <li id="loadFromSheet" title="Load session from google sheet" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-open"></span> Load Session</li>
      <li id="saveToSheet" title="Save session to google sheet" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-save"></span> Save Session</li>
      </ul>
      <li id="logout" title="Logout" data-toggle="tooltip" data-placement="bottom" ><span class="glyphicon glyphicon-log-out" title="logout"></span> Log Out</li>
    <!--
    </div>
    -->
    </div>
    </div>
</ul>
<ul id="extWinNav">
</ul>
<ul id="myNavRight" class="mainWinOnly" style="float:right">
  <li id="extension" style="display: none">
    <a href="https://chrome.google.com/webstore/detail/nbrowser-plugin/djcdicpaejhpgncicoglfckiappkoeof" target="_blank"><img src="/static/image/extension_install.png"  style="height:18px;width:18px;margin:7px 4px" title="install chrome extension"></img></a>
  </li>
</ul>
<span style="float:right">
<image src="/static/image/icon.png" style="height:18px;width:18px;margin:7px 4px"></image><span id="version" style="color:#777"></span>
</span>
</div>
{{end}}
