{{define "modalSave"}}
<!-- Modal Load Sessions in Google Sheets -->
<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="modalSaveTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSaveTitle">Save Session</h5>
        <!--
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        -->
      </div>
      <div class="modal-body" id="modalSaveBody">
        <table style="width:100%">
        <tr>
        <td style="vertical-align:top;padding:5px">
          <label>Id
          </label>
        </td>
        <td>
        <input id="modalSaveId" type="text" style="width:100%;margin:1px;padding:1px"></input>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top;padding:5px">
        <label>Note</label>
      </td>
      <td>
        <textArea id="modalSaveNote" style="height:336px;width:100%;text-align:left;margin:1px;padding:1px;vertical-align:top"></textArea>
      </td>
    </tr>
  </table>
      </div>
      <div class="modal-footer">
        <button type="button" id="saveModalBtn" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{ end }}
