{{define "wrapper"}}
<div id="wrapper" style="height:calc(100%-20px)">
  <div id="menuContainer" style="display:none"></div>
  <div id="layoutContainer" style="left:0%;width:100%"></div>
</div>
{{end}}
